@import '../../style/base/mixins';
@import '../../style/base/variables';

.resume {
    margin-top: 120px;  
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            top: -7px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 80px 0 80px;
        display: grid;
        grid-template: minmax(0, auto) / repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
            }
        }
        ul {
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 5px);
                    position: absolute;
                    top: -8px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: "";
            height: 1px;
            top: 62px;
            width: 49px;
            background-color: #000;
            position: absolute;
            
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            @include before_circle;
            &:before {
                left: 4px;
            }
            top: 50px;
            left: 45px;
            img {
                position: relative;
                top: 7px;
                left: 21px
            }
            
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
    }

}